<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <ng-content select=".authblock" ></ng-content>
    </div>
    <ng-content select=".redirect"></ng-content>
  </div>
</div>
